@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
    width: 100%;
    max-width: 700px;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin-bottom: 80px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.container .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.user-details {
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 15px;
}

.input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #9b59b6;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-container .input-box {
    width: 48%; 
}

.button {
    text-align: center;
}

.button button {
    height: 45px;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    cursor: pointer;
}

.button button:hover {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

@media (max-width: 768px) {
    .input-container .input-box {
        width: 100%; 
    }
}


